# requirements.txt
langchain
langchain-google-genai  
chromadb
pypdf
python-dotenv
tiktoken
langchain-openai
langchain-community
langchain-chroma
pypdf
streamlit
pysqlite3-binary; sys_platform == "linux"
